<% if @profile.errors.any? %>
 <div class="alert alert-danger">
  <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h4>
  <ul>
    <% @profile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
 </div>
<% end %>

<%= form_for(@profile) do |f| %>
 <div class="form-horizontal">
  
  <div class="form-group">
    <span class="col-sm-2 control-label">Name/nick: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :name, :autofocus => true, 
         class: 'form-control', placeholder: 'Ex: Mike Star', required: 'required' %>
         <p class="help-block">This field is required.</p>
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">Email: </span>
    <div class="input-group col-sm-4">
       <%= f.email_field :email, class: 'form-control', placeholder: 'Ex: mike@social-real.tk' %>
       <p class="help-block">Notice, use a public-email.</p>   
     </div>
  </div>
 
   <div class="form-group">
    <span class="col-sm-2 control-label">Your picture: </span>
    <div class="input-group col-sm-4">
      <%= f.file_field :picture %>  
      <p class="help-block">Photo will be resized to 150 x 150 px.</p>
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">Location: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :location, class: 'form-control', placeholder: 'Ex: San Francisco - CA' %>   
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">Language: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :language, class: 'form-control', placeholder: 'Ex: EN and ES' %>   
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">Favorite topics: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :favorite_topics, class: 'form-control', placeholder: 'Ex: Sports' %>   
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">Articles: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :my_articles, class: 'form-control', placeholder: 'Ex: social-real.tk/my_articles' %>   
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">My programs to talk: </span>
    <div class="input-group col-sm-4">
       <%= f.text_field :my_softwares_client, class: 'form-control', placeholder: 'Ex: Skype and Xchat' %>   
     </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label"><%= f.check_box :hidden %> &nbsp; Hide my profile </span>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>

 </div>
<% end %>
