<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Email</th>
      <th>Picture</th>
      <th>Location</th>
      <th>Language</th>
      <th>Favorite topics</th>
      <th>My articles</th>
      <th>My softwares client</th>
      <th>Hidden</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_id %></td>
        <td><%= profile.name %></td>
        <td><%= profile.email %></td>
        <td><%= profile.picture %></td>
        <td><%= profile.location %></td>
        <td><%= profile.language %></td>
        <td><%= profile.favorite_topics %></td>
        <td><%= profile.my_articles %></td>
        <td><%= profile.my_softwares_client %></td>
        <td><%= profile.hidden %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
