<div class='col-xs-12'>
  <div class='box box-primary'>
   <div class='box-header'>
    <h3 class="box-title">
      <%= profile_photo(current_user, {format: :thumb, style: 'img-circle dashboard-mini-img'}) %> Profile of <%= first_name(h(@profile.name)) %>
    </h3>
    <p class="box-title">
    <% if @current_profile_is_from_current_user %>
     <%= link_to 'Edit', edit_profile_path(@profile) %>
    <% end %>
    </p>
   </div>
  
  <div class='box-body'>
    <% if notice %>
    <div class="alert alert-success">
     <%= notice %>
    </div>
    <% end %>

    <div class="show-profile">
      <div class="row">
        <div class="col-md-6">
          <i class="fa fa-comments"></i> <b><i>Full name</i></b>: <%= h @profile.name %></div>
        <div class="col-md-6">
          <i class="fa fa-envelope"></i> <b><i>Email</i></b>: <%= h @profile.email %></div>
        <div class="col-md-6">
          <i class="fa fa-thumb-tack"></i> <b><i>Country</i></b>: <%= h @profile.location %></div>
        <div class="col-md-6">
          <i class="fa fa-quote-left"></i> <b><i>My articles:</i></b> <%= h @profile.my_articles %></div>
        <div class="col-md-6">
          <i class="fa fa-comments"></i> <b><i>Languages</i></b>: <%= h @profile.language %></div>
        <div class="col-md-6">
          <i class="fa fa-rss"></i> <b><i>Favorite topics:</i></b> <%= h @profile.favorite_topics %></div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <i class="fa fa-comments"></i> <b><i>Softwares to contact:</i></b> <%= h @profile.my_softwares_client %></div>
      </div>

      <br>
      <p><%= link_to "Back to dashboard", dashboard_path %></p>

    </div>
  </div>
</div>
</div>